<div class="mx-auto max-w-lg bg-gray-200 text-gray-800 border-l-4 border-orange-500 px-6 py-4 rounded-md shadow-lg" mix-ttl="4000">
    <div class="flex items-center">
        <div class="mr-4">
            <svg class="w-6 h-6 text-orange-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                      d="M12 8v4m0 4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
            </svg>
        </div>
        <div>
            <p class="font-semibold">{{ message }}</p>
        </div>
    </div>
</div>
