{% include "_top.html" %}

<main class="w-full h-screen flex items-center justify-center bg-gray-100">
  <!-- Password Reset Form -->
  <form id="frm_reset_password" class="w-full max-w-sm bg-white shadow-md rounded-lg p-6 flex flex-col gap-6">
    <!-- CSRF Token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- Title -->
    <h1 class="text-2xl font-bold text-center text-gray-800">Reset Your Password</h1>
    <p class="text-sm text-center text-gray-600">Enter your email address below to receive password reset instructions.</p>

    <!-- Email Field -->
    <div class="flex flex-col">
      <label for="user_email" class="text-gray-700 font-medium mb-1"> Email </label>
      <input name="user_email" type="email" mix-check="{{ x.REGEX_EMAIL }}" class="border rounded-lg p-2 text-gray-800 focus:ring-2 focus:ring-[#FFA726] focus:outline-none" placeholder="Enter your email" required />
    </div>

    <!-- Reset Button -->
    <button mix-post="/forgot-password" mix-data="#frm_reset_password" class="py-2 px-4 bg-[#FFA726] text-white rounded-lg hover:bg-[#FB8C00] font-bold">Reset Password</button>
  </form>
</main>

{% include "_bottom.html" %}
